.kanban-board {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.kanban-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 40px;
}

.kanban-header h1 {
  font-size: 0.9rem;
}

/* Horizontal layout for columns */
.kanban-columns {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap; /* Prevent wrapping for larger screens */
  justify-content: space-between;
  overflow-x: auto; /* Add horizontal scrolling if needed */
  padding-bottom: 20px;
}

.display-container {
  position: relative;
  background-color: white;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.display-container-1 {
  display: flex;
  gap: 5px;;
}
.display-label {
  font-size: 1rem;
  font-weight: bold;
}

.display-dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 20px;
  color: rgb(168, 163, 163);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.group, .order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.dropdown-content div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 0.8rem;
}

.dropdown-content div:hover {
  background-color: #f0f0f0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .kanban-header {
    padding: 20px;
  }
  
  .kanban-header h1 {
    font-size: 1.2rem;
  }

  /* Switch to vertical layout for smaller screens */
  .kanban-columns {
    flex-direction: column;
    gap: 15px;
  }
}
