.task-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0px 13px 13px 13px;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 0.7rem; }

.task-card h3 {
  margin-bottom: 8px;
  color: rgb(168, 163, 163);
}
.priorityandstatus{
  display: flex;
  align-items: center;
   justify-content:flex-start ;
   color: rgb(168, 163, 163);

}
.task-card p {
  margin: 5px 0;
}

.task-card .priority {
  display: flex;
  align-items: center;
 
}

.priority img {
  margin-right: 5px;
  
}
.priority img {
  border: 1px solid #eeeeee;
}
.task-card .status {
  display: flex;
  align-items: center;
  border: 1px solid #eeeeee;

}

 .status img {
  margin-right: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .task-card {
    font-size: 0.7rem;
    padding: 10px;
  }
}
